.form-card__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-card__subhead {
    font-size: 0.875rem;
    line-height: 1.25rem;
    opacity: .6;
    margin-bottom: 2rem;
}

.form-card__button {
    width: 100%;
    text-align: right;
    margin-top: 48px;
}